@import url('https://fonts.googleapis.com/css?family=Poppins|Sintony');

@tailwind preflight;

@tailwind components;

@responsive {
  .bg-linear-blue {
    background-image: config('colors.linear-blue');
  }
  .bg-site-color {
    background: config('colors.site-color');
  }

  .text-animation {
    transition: all 0.3s ease-out;
  }
  .post-box {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 30px;
    max-height: 250px;
  }
}

@tailwind utilities;

.BlogPost * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.BlogPost h1,
h2,
h3,
h4 {
  @apply .font-sans;
}

.BlogPost p,
a,
pre,
code {
  @apply .font-serif;
}

.BlogPost h1 {
  @apply .text-center;
  @apply .my-2;
}

.BlogPost .date {
  @apply .py-4;
  text-align: center;
}

.BlogPost div + h3 {
  margin-top: 28px;
}

.BlogPost p + h3 {
  margin-top: 28px;
}

.BlogPost h3 {
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: -0.015em;
}

.BlogPost p + h4 {
  margin-top: 28px;
}

.BlogPost h4 {
  font-size: 24px;
  line-height: 1.22;
  letter-spacing: -0.012em;
}

.BlogPost p {
  /* @apply .text-justify; */
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -0.004em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.BlogPost img {
  padding-top: 43px;
  display: inherit;
  margin: 0 auto;
}

.BlogPost figcaption {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.68);
  letter-spacing: 0;
}

.BlogPost figcaption + p {
  margin-top: 28px;
}

.BlogPost figcaption + h3 {
  margin-top: 28px;
}

.BlogPost a {
  @apply .text-black;
}

.BlogPost ul {
  margin-top: 29px;
}

.BlogPost li {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;

  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  list-style: none;
  margin-left: 30px;
  margin-bottom: 14px;
}

.BlogPost li:before {
  content: '*';
  padding-top: 4px;
  padding-right: 15px;
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 78px;
  margin-left: -78px;
  text-align: right;
}

.BlogPost blockquote {
  @apply .my-6;
  border-left: 3px solid rgba(0, 0, 0, 0.84);
  padding-left: 20px;
  margin-left: -23px;
}

.BlogPost blockquote > blockquote {
  background: rgba(0, 0, 0, 0.05);
  font-style: italic;
  padding: 1rem;
  font-weight: 400;
  font-style: italic;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

.blogList {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blogList h3 {
  font-size: 24px;
}

.blogList h3 > a {
  @apply .text-gray-primary;
  text-decoration: none;
  font-weight: bold;
}

.blogList p {
  margin-top: 10px;
  word-break: break-word;
  font-size: 18.96px;
  line-height: 24px;
  fill: rgba(0, 0, 0, 0.54);
  letter-spacing: 0px;
  /* text-align: justify; */
}
